.form-group {
  margin-bottom: 10px;
}

.form-group * {
  display: block;
}

.invalid-feedback {
  color: red;
}

.is-invalid {
  border: 1px solid red;
}

#listItem .form-group * {
  display: inline;
}

