<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link th:href="@{css/style.css}" rel="stylesheet" />
  <title>Sign Up</title>
</head>
<body>
<table>
</table>
  <h1>Shop List</h1>
  <form th:object="${shopListForm}" th:action="${action}" method="POST">
    <fieldset>
      <legend>Basic Data</legend>
      <div class="form-group">
        <label for="listName">List name</label>
        <input id="listName" type="text" th:field="*{listName}" th:errorclass="is-invalid">
        <div class="invalid-feedback" th:errors="*{listName}"></div>
      </div>
    </fieldset>
    <fieldset id="listItem">
      <legend>List Itens</legend>
      <div class="form-group" th:each="item, stat : *{itens}" th:data-item-id="${stat.index}">
        <input type="text" th:field="*{itens[__${stat.index}__].name}">
        <input type="text" th:field="*{itens[__${stat.index}__].quantity}">
        <hr>
      </div>


<!--      <div class="form-group">-->
<!--        <input type="text" name="itens[].name">-->
<!--        <input type="number" name="itens[].quantity">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <input type="text" name="itens[].name">-->
<!--        <input type="number" name="itens[].quantity">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <input type="text" name="itens[].name">-->
<!--        <input type="number" name="itens[].quantity">-->
<!--      </div>-->
    </fieldset>
    <button id="oneMore">One more item</button>
    <button type="submit" name="submit">Save</button>
  </form>
  <script th:src="@{js/shoplist.js}"></script>
</body>
</html>
